<img class="img-fluid m-0 p-0 image" col-12 src="images/banner.jpg">
<div class="container m-3 p-3"></div>
<div class="container col-12 row mt-5 p-0 mb-5" id="home">
	<span class="col-2"></span>
	<section class="col-md-5 col-8 mr-3 pt-5 text-justify">
		<p id="definition" class="font-weight-light mb-5">La Secretaría de Salud es la dependencia del Poder Ejecutivo que se encarga primordialmente de la prevención de enfermedades y promoción de la salud de la población.</p>
		<span class="font-weight-bold">Misión</span>
		<p class="mb-5 mt-2">Establecer las políticas de Estado para que la población ejerza su derecho a la protección a la salud.</p>
		<span class="font-weight-bold">Visión</span>
		<p class="mt-2">Un Sistema Nacional de Salud Universal, equitativo, integral, sustentable, efectivo y de calidad, con particular enfoque a los grupos de la población que viven en condición de vulnerabilidad, a través del fortalecimiento de la rectoría de la autoridad sanitaria y la intersectorialidad; de la consolidación de la protección y promoción de la salud y prevención de enfermedades, así como la prestación de servicios plurales y articulados basados en la atención primaria; la generación y gestión de recursos adecuados; la evaluación y la investigación científica, fomentando la participación de la sociedad con corresponsabilidad.<p>
	</section>
	<span class="col-md-0 m-0 p-0 col-2 noVisible"></span>
	<aside class="col-md-3 col-8 ml-2 pt-5">
		<span>Ubicación</span>
		<p class="mt-2 pb-3">Lieja No. 7, Col. Juárez, Del. Cuauhtémoc, C.P. 06600, Ciudad de México.</p>
		<span>Redes sociales</span>
		<p class="mt-2">Twitter: <a href="https://twitter.com/ssalud_mx" class="badge badge-light">@SSalud_mx</a></p>
		<p>Facebook: <a href="https://www.facebook.com/SecretariadeSaludMX" class="badge badge-light">facebook.com/SecretariadeSaludMX</a></p>
		<p>Instagram: <a href="https://www.instagram.com/ssalud_mx/" class="badge badge-light">ssalud_mx</a></p>
		<p>You Tube: <a href="https://www.youtube.com/channel/UCu2Uc7YeJmE9mvGG9OK-zbQ" class="badge badge-light">Secretaría de Salud México</a></p>
	</aside>
	<span class="col-2"></span>
</div>